.navbar{
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.navitems{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    column-gap: 10px;

}

.navitems .left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
.navitems .logo{
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.navitems .name{
    display: flex;
    align-items: center;
}

